

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    

}
body{
    height: 100vh;
    background-image: linear-gradient(rgb(10, 74, 170),rgb(56, 168, 233));
}

.navbar{
    display:flex;
	align-items: center;
    text-align: center;
	top: 0px;
    left: 0px;
	position: sticky;
	height: 70px;
    background-color: #0005;

}
#logo {
	margin: 10px 18px;
}
#logo img {
	margin: 5px 6px;
	height: 50px;
}
.navbar .item {
	font-size: 30px;
	margin: 10px 18px;
    color: whitesmoke;
}

.navbar .time {
    font-size: 15px;
    margin: 10px 18px;
    position: absolute;
    color: whitesmoke;
    right: 10px;
}

.navbar ::before {
	content: "";
	background: rgba(255, 255, 255,0.9);
	height: 100%;
	width: 100%;
	z-index: -1;
	left: 0px;
	top: 0px;
	position: sticky;
	
}

.blur2{
    backdrop-filter: blur(2px);
    height: 100vh;
    width: 100%;
}
.blur{
    backdrop-filter: blur(8px);
    height: 100vh;
    width: 100%;
}

.mum{
    height: 70px;
    width: 45%;
    color: blanchedalmond;
    
    border-radius: 120px;
    margin: 5vh auto;
    align-content: center;
  
  
    background:rgba(0, 59, 136, 0.5);

}
.mum ul {
    display: flex;
    flex-direction: row;
    margin: auto;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.mum ul li {
    list-style: none;
    font-size: 30px;
    font-family: 'Noto Sans JP', sans-serif;
   align-items: center;
   padding: 15px 40px;
}
.user {
    background: rgba(0, 59, 136, 0.5);
    width: 100%;
    max-width: 380px;
    /* margin: auto; */
    /* top: 270px; */
    /* left: 650px; */
    position: realtive;
    justify-content: center;
    align-items: center;
    margin: 8vh auto;
    padding: 20px;
    border-radius: 20px;
}
.user2 {

    background-color: black;
    opacity: .4;
     width: 100%;
     max-width: 440px;
     height: 500px;
    
     margin: auto;

     justify-content: center;
     align-items: center;
     /* margin: 24vh auto; */
     padding: 50px;
     border-radius: 20px;
 }
 .weather {
    color :black;
    font-size:50px;
    font-weight:bold;
    font-family: 'Noto Sans JP', sans-serif;
    text-align:center;
    display: flex;
    flex-direction: column;
    min-height: 21vh;
    position: relative;
    top: 20px;
}
 .text{
    width: 100%;
    max-width: 380px;
    margin: auto;
    position:relative;
    top: -500px;
    justify-content: center;
    align-items: center;
    /* margin: 24vh auto; */
    padding: 20px;
    border-radius: 20px;

 }
.user__header {
    text-align: center;
    /* opacity: 0; */
    /* transform: translate3d(0, 500px, 0);
    animation: arrive 500ms ease-in-out 0.7s forwards; */
}
.citynm{
    color: white;
    font-size: 40px;
    text-align: center;
    font-family: 'Noto Sans JP', sans-serif;
  
}
.icon{
    color: white;
    text-align: center;
    margin-top: 20px;

}
.temp{
    color: yellow;
 
    font-size: 90px;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: bold;
    text-align: center;
}
.rainf{
    text-align: center;
    color: white;
    margin-top: 40px;
    font-size: 20px;
    font-family: 'Noto Sans JP', sans-serif;
}
.hp{
    text-align: center;
    margin-top: 40px;
    font-size: 20px;
    color: white;
    margin-bottom: 7px;
    font-family: 'Noto Sans JP', sans-serif;
}
.user__title {
    margin-bottom: -10px;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: bold;
    font-size: 60px;
    color: white;
    text-shadow: yellow;
    text-align: center;
    padding-top: 40px;
}
.form__group{
    color: peru;
}
.form {
    margin-top: 40px;
    border-radius: 16px;
    overflow: hidden;
    border: none;
    /* opacity: ; */
    /* transform: translate3d(0, 500px, 0); */
    /* animation: arrive 500ms ease-in-out 0.9s forwards; */
}

.form--no {
    /* animation: NO 1s ease-in-out; */
    opacity: 1;
    /* transform: translate3d(0, 0, 0); */
}

.form__input {
    display: block;
    width: 100%;
    padding: 20px;
    text-align: center;
    border: 0px;
    outline: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    transition: 0.3s;
    font-weight: bold;
 
}

.btn {
    display: block;
    width: 100%;
    padding: 20px;
   
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    -webkit-appearance: none;
    outline: 0;
    border: 0;
    color: white;
    background: palegreen;
    /* transition: 0.3s; */
    
    
}
.btn:hover{
    background-color: palevioletred;
}

@keyframes NO {
  from, to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  20%, 40%, 60%, 80% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
}

@keyframes arrive {
    0% {
        opacity: 0;
        transform: translate3d(0, 50px, 0);
    }
    
    100% {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

@keyframes move {
    0% {
        background-position: 0 0
    }

    50% {
        background-position: 100% 0
    }

    100% {
        background-position: 0 0
    }
}